<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Fill this Out Or Else</h1>
	<form action="/formEntry" method="POST">
		<input type="text" name="name" placeholder="Your Name"><br>
		<input type="text" name="location" placeholder="Dojo Location"><br>
		<input type="text" name="language" placeholder="Favorite Language"><br>
		<textarea name="comment" id="" cols="30" rows="10"></textarea><br>
		<button type="submit" name="submit" value="submit">Submit</button>
	</form>
</body>
</html>