<article>
  <section>
    <button (click) = 'getDateByZone("Pacific")' [ngClass]= "{selected: prevTime === 'Pacific'}" >Pacific</button>
    <button (click) = "getDateByZone('Mountain')" [ngClass] = "{selected: prevTime === 'Mountain'}">Mountain</button>
    <button (click) = "getDateByZone('Central')" [ngClass] = "{selected: prevTime === 'Central'}">Central</button>
    <button (click) = "getDateByZone('Eastern')" [ngClass] = "{selected: prevTime === 'Eastern'}">Eastern</button>
  </section>
  <section>{{time | date:'medium'}}</section>
</article>
