<html>
<head>
	<meta charset="UTF-8">
	<title>Add A Goose</title>
</head>
<body>
	<h1>Add some Geese to the Bundle</h1>
	<form action="/" method="POST">
		Name: <input type="text" name="name">
		Geese Ranking <input type="text" name="rank">
		<input type="submit" name="submit" value="ADDA GOOSE">
	</form>
</body>
</html>