<html>
<head>
	<meta charset="UTF-8">
	<title>Show</title>
</head>
<body>
	<h1>You're My Eyes Goose</h1>
	<h2>Name: <%= geese.name %></h2>
	<h3>Goose Rating: <%= geese.rank %></h3>
	<a href="/">Home</a>
	<a href="/<%= geese._id%>/edit">Update</a>
</body>
</html>